<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_frist"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".DetailActivity"/>
        <activity android:name=".ChoiceActivity1"/>
        <activity android:name=".ChoiceActivity"/>
        <activity android:name=".ChangeInfo"/>
        <activity android:name=".OptionActivity"/>
        <activity android:name=".manager"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".help"
                  android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".notice"/>
        <activity android:name=".FAQ"/>
        <activity android:name=".appinfo"/>
        <activity android:name=".content"/>
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Shop" />
        <activity android:name=".FindPassword" />
        <activity android:name=".notice_content" />
        <activity android:name=".myinfo" />
        <activity android:name=".Tutorial" />
        <activity android:name=".Shop" />
    </application>

</manifest>